
.column {
    display: flex;
    flex-direction: column;
  }

  .row {
    display: flex;
    flex-direction: row;
  }

  
  button:disabled,
  button[disabled]{
    background-color: #27b09e82;
    color: grey;
  }